<!DOCTYPE html>
<html>
	<head>
		<title>Form</title>
	</head>
	<body>
		<div class="container">
			<form action="/result" method="post">
				Your Name: <input type="text" name="name" />
				Dojo Location: <select name="location">
					<option value="Seattle">Seattle</option>
					<option value="Berkeley">Berkeley</option>
					<option value="Boise">Boise</option>
					<option value="Dallas">Dallas</option>
				</select>
				Favorite Language: <select name="language">
					<option value="Python">Python</option>
					<option value="JavaScript">JavaScript</option>
					<option value="C#">C#</option>
					<option value="Swift">Swift</option>
				</select>
				Comment (optional): <textarea name="comment"></textarea>
				<input type="submit" value="Submit" />
			</form>
		</div>
	</body>
</html>