:host {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 3%;
}

.playerForm {
    border: 1px solid Black;
    margin: 30px 5%;
    padding: 20px;
    width: 100%;
}

label {
    margin-right: 20px;
}

h3 {
    text-align: center;
}

.form-group {
    margin-left: 20%;
}

#submitBtn {
    margin-left: 43%;
}

img {
    width: 400px;
    height: auto;
}