<!DOCTYPE html>
<html>
<head>
	<title>Cats</title>
	<link rel="stylesheet" href="/main.css" />
</head>
<body>
	<h1>Welcome to Cats!</h1>
	<img src="/cat1.jpg" alt="cat picture" />
	<img src="/cat2.jpeg" alt="cat picture" />
	<img src="/cat3.jpeg" alt="cat picture" />
	<img src="/cat4.jpg" alt="cat picture" />
</body>
</html>