<html>
    <head>
        <title>Pika Profile</title>
    </head>
    <body>
        <h1><%= pika.name %></h1>
        <h3>Age: <%= pika.age %></h3>
        <h3>Favorite Food: <%= pika.favorite_food %></h3>
    </body>
</html>