<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Player Name</th>
            <th scope="col">Preferred Position</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let player of players">
          <tr scope="row">
            <td>{{ player.name }}</td>
            <td>{{ player.preferred_position }}</td>
            <td><button (click)="onDeletePlayer(player._id)">Delete</button></td>
          </tr>
        </tbody>    
      </table>
</div>

