<!DOCTYPE html>
<html>
<head>
	<title>Cats</title>
	<link rel="stylesheet" href="/main.css" />
</head>
<body>
	<h1>Welcome to Cats!</h1>
	<a href="ansel"><img src="/cat1.jpg" alt="cat picture" /></a>
	<a href="gretchen"><img src="/cat2.jpeg" alt="cat picture" /></a>
	<a href="tiger"><img src="/cat3.jpeg" alt="cat picture" /></a>
	<a href="duluth"><img src="/cat4.jpg" alt="cat picture" /></a>
</body>
</html>