<html>
    <head>
        <title>Secrets</title>
    </head>
    <body>
        <h1>Dojo Secrets</h1>
        <div>
            <h3>Create a Secret</h3>
            <% if(messages.secrets) { %>
                <% for (var x of messages.secrets) { %>
                <h3><%= x %></h3>
                <% } %>
            <% } %>
            <form action="/new/secret" method="POST">
                Secret: <input type="text" name="secret">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div>
            <h3>All the Secrets</h3>
            <ul>
                <% for(secret of secrets) { %>
                    <li><%= secret.message %></li>
                    <% if (secret.user == userid) { %>
                        <a href='/destroy/<%= secret._id %>'>delete secret</a>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </body>
</html>