<html>
<head>
	<title>Result</title>
</head>
<body>
	<h1>Submitted Information</h1>
	<p>Name: <%= results.name %> </p>
	<p>Location: <%= results.location %> </p>
	<p>Language: <%= results.language %> </p>
	<p>Comment (optional): <%= results.comment %> </p>
</body>
</html>