h1 {
    text-align: center;
}

body {
    font-family: Helvetica Neue;
}

table {
    margin: 30px 33%; 
    width: 500px;
}

a {
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 1px 2px;
}

table, th, td {
    border: 1px solid Black;
}